# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# C++ build artifacts
*.o
*.obj
*.exe
*.out
*.app

# Operating System Files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Kotlin Artifacts
*.jar

# Logs
*.log
